<footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">
      <div
        data-sly-resource="${'subfooter' @ resourceType='unicreditirenee/components/subfooter'}"
      ></div>
      <div
        data-sly-resource="${'subfooternav' @ resourceType='unicreditirenee/components/subfooternav'}"
      ></div>
    </div>
    <div class="footer__bottom">
      <div class="footer__col">
        <div class="footer_logo">
          <div
            data-sly-resource="${'myimage' @ resourceType='unicreditirenee/components/myimage'}"
          ></div>
        </div>

        <div class="footer__copy">
          © 20XX – 20XX UniCredit S.p.A. - All Rights reserved
        </div>
      </div>
      <div class="footer__col">
        <div
          data-sly-resource="${'footersocials' @ resourceType='unicreditirenee/components/footersocials'}"
        ></div>
        <div class="footer__utils">
          <a href="#">Lorem ipsum</a>
          <a href="#">Lorem ipsum</a>
        </div>
      </div>
    </div>
  </div>
</footer>
